body, html {
    margin: 0;
    padding: 0;
}


.titre{
    height: 66px !important;
    /* align-self: center; */
    /* vertical-align: middle; */
    vertical-align: baseline;

}

.centered-content{
    width: 100%;
    height: calc(100vh - 66px);
    background-color: aqua;
    /* align-items: center; */
    
    /* display: flex; */
}

p {
    vertical-align: middle;
}
